body {
	background-color: #eee;
}

.form {
	background-color: #fff;
	width: 21%;
	margin: 0 auto;
	padding: 80px;
}

h2 {
	color: #89a73f;
	font-size: 30px;
	margin: 0;
	padding-bottom: 20px;
	text-align: center;
	text-transform: uppercase;

}

.row-form {
	margin: 30px 0 30px 0;
}

.row-form input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	color: #777;
	display: inline-block;
	letter-spacing: 2px;
	padding: 20px 40px 20px 40px;
	transition: 0.2s all ease-out;
	width: 100%;
}

.row-form input:hover {
	border-bottom: 1px solid #89a73f;
	color: #89a73f;
	transition: 0.2s all ease-out;
}

.row-form input:focus {
	border-bottom: 1px solid #89a73f;
	letter-spacing: 1px;
	outline: none;
	transition: 0.2s all ease-out;
}

#signup {
	background-color: #89a73f;
	border: 1px solid #89a73f;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	margin-top: 30px;
	padding: 20px;
	text-transform: uppercase;
	transition: 0.2s all ease-in;
	width: 100%;
}

#signup:hover {
	background-color: transparent;
	border: 1px solid #89a73f;
	color: #89a73f;
	transition: 0.2s all ease-in;
}