/******************************************************************
								GENERAL
******************************************************************/

@font-face {
    font-family: 'sweet_pearegular';
    src: url('../fonts/sweetpea/sweet_pea_2-webfont.woff2') format('woff2'),
         url('../fonts/sweetpea/sweet_pea_2-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gravityregular';
    src: url('../fonts/gravity_font/gravity-regular-webfont.woff2') format('woff2'),
         url('../fonts/gravity_font/gravity-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'gravityregular','gill sans',arial;
	font-size: 14px;
	margin: 0;
	padding: 0;
}

.center-box {
	margin: 0 auto;
	width: 90%;
}

.center {
	margin: 0 auto;
	width: 60%;
}

/******************************************************************
								HEADER
******************************************************************/

header {
	background-color: #fff;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}

nav ul {
	font-size: 14px;
	margin: 0;
	padding: 30px 0 30px 0;
	text-align: right;
}

nav ul li {
	display: inline-block;
	margin: 5px 15px 5px 15px;
}

nav ul li a {
	color: #89a73f;
	text-decoration: none;
	text-transform: uppercase;
	transition: 0.2s all ease-in;
}

nav ul li a:hover {
	opacity: 0.5;
	transition: 0.2s all ease-in;
}

#sign-in a {
	border: 1px solid #89a73f;
	box-sizing: border-box;
	color: #89a73f;
	padding: 15px;
	transition: 0.2s all ease-in;
}

#sign-in a:hover {
	border: 1px solid #786F20;
	opacity: 0.5;
	transition: 0.2s all ease-in;
}

#sign-up a {
	background-color: #89a73f;
	box-sizing: border-box;
	color: #fff;
	padding: 15px;
	transition: 0.2s all ease-in;
}

#sign-up a:hover {
	opacity: 0.5;
	transition: 0.2s all ease-in;
}

/******************************************************************
								FORMS
******************************************************************/

.popup-content {
	background-color: rgba(0,0,0,0.5);
	display: none;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 1000;
}

#si-form {
	background-color: #fff;
	margin: 0 auto;
	padding: 30px 60px 40px 60px;
	position: absolute;
	right: 13%;
	top: 7%;
	width: 13%;
}

#su-form {
	background-color: #fff;
	margin: 0 auto;
	padding: 30px 60px 40px 60px;
	position: absolute;
	right: 6.7%;
	top: 7%;
	width: 13%;
}

#jn-form {
	background-color: #fff;
	margin: 0 auto;
	padding: 30px 60px 40px 60px;
	position: absolute;
	left: 36%;
	top: 25%;
	width: 20%;
}

h2 {
	color: #89a73f;
	font-size: 30px;
	margin: 0;
	padding-bottom: 20px;
	text-align: center;
	text-transform: uppercase;
}

.row-form {
	margin: 30px 0 30px 0;
}

.row-form input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #ddd;
	box-sizing: border-box;
	color: #777;
	display: inline-block;
	letter-spacing: 2px;
	padding: 20px 40px 20px 40px;
	transition: 0.2s all ease-out;
	width: 100%;
}

.row-form input:hover {
	border-bottom: 1px solid #89a73f;
	color: #89a73f;
	transition: 0.2s all ease-out;
}

.row-form input:focus {
	border-bottom: 1px solid #89a73f;
	letter-spacing: 1px;
	outline: none;
	transition: 0.2s all ease-out;
}

#sign-button {
	background-color: #89a73f;
	outline: none;
	border: 1px solid #89a73f;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	margin-top: 30px;
	padding: 20px;
	text-transform: uppercase;
	transition: 0.2s all ease-in;
	width: 100%;
}

#sign-button:hover {
	background-color: transparent;
	border: 1px solid #89a73f;
	color: #89a73f;
	transition: 0.2s all ease-in;
}

/******************************************************************
								HOME
******************************************************************/

#home {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-image: url(../img/1.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	padding-top: 76px;
	width: 100%;
}

.message {
  background: rgba(0,0,0,0.5);
  display: table;
  height: 100%;
  position: absolute; 
  top: 76px;
  width: 100%;
  z-index: 20;
}

.inner-message {
  display: table-cell;
  vertical-align: middle;
}

.inner-message h5 {
  color: white;
  font-family: 'sweet_pearegular';
  font-size: 60px;
  margin: 0;
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.inner-message p {
	color: #fff;
	font-size: 18px;
	margin: 0 auto;
	text-align: center;
	width: 40%;
}

#side-nav {
	float: left;
	left: 1%;
	position: fixed;
	top:45%;
	z-index: 50;
}

#side-nav ul {
	margin: 0;
}

#side-nav ul li {
	border-radius: 100%;
	display: block;
	height: 15px;
	margin:8px 0 8px 0;
	width: 15px;
}

#side-nav a li {
	background-color: transparent;
	border: 3px solid #fff;
	transition: 0.2s all ease-in;
}

#side-nav a li:hover {
	background-color: #fff;
	transition: 0.2s all ease-in;
}

#s-m-t-tooltip {
	border-radius: 6px;
	background: #fff;
	color: #aaa;
	max-width: 300px;
	margin: -15px 14px 7px 22px;
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	z-index: 50;
}

#s-m-t-tooltip::after {
	border-width: 8px;
	border-style: solid;
	border-color: transparent #fff transparent transparent;
	content: " ";
	margin-top: -8px;
	position: absolute;
	right: 100%;
	top: 50%;
}

/******************************************************************
								JOIN NOW
******************************************************************/

#join-now {
	background-color: #dfdfdf;
	color: #777;
	padding: 120px 0 120px 0;
	text-align: center;
	width: 100%;
}

#join-now h4 {
	font-family: 'sweet_pearegular';
	font-size: 38px;
	text-transform: uppercase;
	margin: 0;
}

#join-now p {
	font-size: 18px;
	margin: 0;
	padding: 20px 0 40px 0;
}

#join-now button {
	background-color: transparent;
	border: 1px solid #777;
	color: #777;
	cursor: pointer;
	font-size: 18px;
	outline: none;
	padding: 15px 30px 15px 30px;
	text-transform: uppercase;
	transition: 0.2s all ease-in;
}

#join-now button:hover {
	background-color: #777;
	color: #eee;
	transition: 0.2s all ease-in;
}

/******************************************************************
								ABOUT
******************************************************************/

#about {
	background-color: #fff;
	color: #89a73f;
	height: 100vh;
	width: 100%;
}

#side-pic {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-image: url(../img/2.jpg);
	background-position: center;
	background-size: cover;
	float: left;
	height: 100vh;
	overflow: hidden;
	width: 50%;
}

#side-info {
	display: table;
	float: left;
	height: 100vh;
	width: 50%;
}

#side-info-center {
	display: table-cell;
	vertical-align: middle;
}

#side-info h4 {
	font-family: 'sweet_pearegular';
	font-size: 38px;
	margin-bottom: 40px;
	text-transform: uppercase;
	text-align: right;
}

#side-info p {
	font-size: 18px;
	margin: 80px 0 0 100px;
	text-align: right;
}

#line {
	background-color: #89a73f;
	content: '';
	height: 5px;
	position: absolute;
	right: 5%;
	width: 300px;
}

/******************************************************************
								HOW TO
******************************************************************/

#how-to {
	background-color: #89a73f;
	color: #fff;
	padding: 120px 0 120px 0;
	text-align: center;
	width: 100%;
}

#how-to h4 {
	font-family: 'sweet_pearegular';
	font-size: 38px;
	margin-top: 0;
	margin-bottom: 50px;
	text-transform: uppercase;
	text-align: center;
}

#boxes {
	width: 100%;
}

.box {
	box-sizing: border-box;
	display: inline-block;
	margin-right: 5.9%;
	margin-left: -2%;
	text-align: center;
	vertical-align: top;
	width: 20%;
}

.box:first-child {
	margin-left: 0;
}

.box:last-child {
	margin-right: 0;
}

.box h5 {
	box-sizing: border-box;
	color: #fff;
	margin: 0;
	padding: 40px;
}

.box img {
	width: 30%;
}

.box p {
	box-sizing: border-box;
	font-size: 24px;
	padding: 10px;
}

/******************************************************************
								EVENTS
******************************************************************/

#events {
	color: #fff; 
	height: 100vh;
	width: 100%;
}

#event-l {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-color:#fff;
	background-position: center;
	background-size: cover;
	float: left;
	height: 100vh;	
	overflow: hidden;
	width: 50%;
}

#event-r  {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-color: #fff;
	background-position: center;
	background-size: cover;
	float: right;
	height: 100vh;	
	overflow: hidden;
	width: 50%;
	}

#event-l ul li img,
#event-r ul li img {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: auto;
	overflow: hidden;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.content{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.content li{
	width: 100%;
	position: absolute;
 	display: none;
 	overflow: hidden;	
}

.content  li.active{
	display: block;
}

.content li img{
	width: 100%;
}
	
/******************************************************************
								DEVELOPERS
******************************************************************/

#developers {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-image: url(../img/5.jpg);
	background-position: center;
	background-size: cover;
	color: #fff;
	font-size: 18px;
	height: 15vh;
	padding: 150px 0 150px 0;
	position: relative;
	text-align: center;
	width: 100%;
}

#d-background {
	background: rgba(0,0,0,0.5);
  	display: table;
  	height: 100%;
  	position: absolute;
  	top: 0;
  	width: 100%;
  	z-index: 10;
}

#d-inner-background {
  display: table-cell;
  vertical-align: middle;
}

#developers h4 {
	font-family: 'sweet_pearegular';
	font-size: 38px;
	text-transform: uppercase;
	margin: 0;
}

#dev {
	display: table;
	width: 100%;
}

#left {
	display: table-cell;
	vertical-align: middle;
	width: 30%;
}

#circle {
     -moz-border-radius: 65%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #fff;
     height: 140px;
     width: 140px;
}

#right {
	display: table-cell;
	text-align: left;
	vertical-align: middle;
	width: 70%;
}

/******************************************************************
								FOOTER
******************************************************************/

footer {
	background-color: #222;
	color: #fff;
	font-size: 16px;
	padding: 80px 0 80px 0;
	text-align: center;
	width: 100%;
}

footer ul li {
	list-style: none;
}

footer ul li a {
	color: #ccc;
	text-decoration: none;
}

footer .col {
	display: inline-block;
	margin-left: -2%;
	margin-right: 6%;
	text-align: left;
	vertical-align: top;
	width: 16%;
}

.col:last-child {
	margin: 0;
}

.social li {
	display: inline-block;
	width: 20%;
	margin-right: 15px;
}

.col img {
	width: 100%;
}